.dice{
    height: 50px;
    width: 50px;
}

.blank{
    height: 50px;
    width: 50px;
}

.mainText{
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    height: 100px;
    top: 25px;
}
.roll{
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    
}
.diceBox{
    display: flex;
    flex-flow: row;
    flex-direction: center;
    justify-content: space-around;

}

#number{
    display: flex;
    position: relative;
    left: 50%;
    flex-flow: row;
    flex-direction: center;
    justify-content: space-evenly;
    top: 100px;
    font-size: 100px;
}

.Main{
    position: absolute;
    top: 50px;
    left: 50px;

}

body{
    background-image: url('https://wallpaperplay.com/walls/full/c/4/8/217879.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
